<h1>物件一覧</h1>

<table>
  <tr>
     <th>物件名</th>
     <th>住所</th>
     <th>築年数</th>
     <th>備考</th>
  </tr>
  <tr>
    <% @house.each do |house| %>
      <td><%= house.building %></td>
      <td><%= house.address %></td>
      <td><%= house.years %></td>
      <td><%= house.other %></td>
    <% end %>
</table>

<%= link_to '物件を登録する', new_house_path %>
