<h1>物件登録</h1>

<%= form_with(model:@house, local:true) do |house| %>
  <div class= "house_building">
    <p><%= house.label :物件名 %></p>
    <%= house.text_field :building %>
  </div>
  <div class= "house_money">
    <p><%= house.label :賃料 %></p>
    <%= house.text_field :money %>円
  </div>
  <div class= "house_address">
    <p><%= house.label :住所 %></p>
    <%= house.text_field :address %>
  </div>
  <div class= "house_years">
    <p><%= house.label :築年数 %></p>
    <%= house.text_field :years %>年
  </div>
  <div class= "house_other">
    <p><%= house.label :備考 %></p>
    <%= house.text_area :other %>
  </div>
  <div class="actions">
  <%= house.submit %>
  </div>
<% end %>
<%= link_to '戻る', houses_path %>
