<%= form_with(model:@house, local:true) do |house| %>
  <div class= "house_building">
    <p id="margin_up">物件名：<%= @house.building %></p>
  </div>
  <div class= "house_money">
    <p id="margin_up">賃料：<%= @house.money %>円</p>
  </div>
  <div class= "house_address">
    <p id="margin_up">住所：<%= @house.address %></p>
  </div>
  <div class= "house_years">
    <p id="margin_up">築年数：<%= @house.years %>年</p>
  </div>
  <div class= "house_other">
    <p id="margin_up">備考：<%= @house.other %></p>
  </div>

<hr>

  <% @house.trains.each_with_index do |trains, index| %>
    <%= house.fields_for :trains, trains do |t| %>
      <h3>最寄り駅<%= index + 1 %></h3>
        <p id="margin_up">路線名：<%= trains.line %></p>
        <p id="margin_up">駅名：<%= trains.station %></p>
        <p id="margin_up">徒歩分数：<%= trains.min %>分</p>
    <% end %>
  <% end %>

<% end %>
<p>
<div class="line">
  <%= link_to '編集', edit_house_path(@house.id) %>
</div>
<%= link_to '戻る', houses_path %>
